@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');


* {
  margin: 0;
 }
 body{
   background: white;
 }

/* -------------------NAVBAR----------------- */
  .header {
    position: relative;
    margin-top: 1em;
    padding: 0px 8px;
    background-color: #24252A;
    z-index: 99999;
    box-shadow: 0 5px 2px -2px rgba(0,0,0,.2);
  }


 li, a, button{
   font-family: "Quicksand", sans-serif;
   font-weight: 500;
   font-size: 16;
   color: white;
   text-decoration: none;
 }

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 6%;

}

.logo{
  cursor: pointer;
  margin-right: auto;
  margin-left: 0em;
}

.nav__links{
  list-style: none;
}

.nav__links li{
  display: inline-block;
  padding: 0px 20px;

}

.nav__links li a{
  transition: all 1s ease 0s;
}

.nav__links li a:hover{
  color: #0888a9;
}

.lain {
  font-size: 11pt;
  margin-right: 2.3em;
  margin-left: 1em;
  padding: 6px 21px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  border-color: rgba(252, 194, 3, 1);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button{
  padding: 9px 25px;
  background-color: rgba(252, 194, 3, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover, .lain:hover{
    background-color: rgba(252, 194, 3, 0.6);
}

/* --------------FIX POSITION NAVBAR SCROLL------------------ */
.content {
  padding: 13px;
}

.sticky {
  margin: 0;
  padding: 0px 8px;
  background-color: #24252A;
  z-index: 99999;
  position: fixed;
  top: 0;
  background-color: #24252A;
}

.sticky + .content {
  padding-top: 700px;
}


/* ------------------HOME----------------------- */


  h1{
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 30pt;
    color: black;
    text-align: center;
    padding-top: 2em;
  }
  .notop{
    padding-top: 0;
  }
  h2{
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 25pt;
    color: black;
    text-align: center;
    padding-top: 0.4em;
  }

section{
  width: 100%;
  min-height: 552px;
}

.home{
  position: relative;
  background: linear-gradient(90deg, #FF8000, #FFEE04);
}

.lapor{
  margin-top: 4em;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);

}

.tambah{
  background-color: black;
  font-size: 14pt;
  box-shadow: 4px 4px 5px 2px rgba(0,0,0,.2);
}

.tambah:hover{
  background-color: black;
  color: rgba(252, 194, 3, 1);
}

.home::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 155px;
  background: url(../image/rectangl.png);
  background-size: cover;
  background-repeat: no-repeat;

}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid white;
  border-right: none;
  padding: 5px 5px 5px 12px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  color: black;
  outline: none;
  font-size: 16pt;
}

.searchTerm:focus{
  color: black;
  font-size: 16pt;
}

.searchButton {
  width: 60px;
  height: 52px;
  padding: 6px;
  border-left: 2px solid #bdbdbd;
  background: white;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;

}

/*Resize the wrap to see the search bar change!*/
.wrap{
  margin-top: 4em;
  width: 60%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* -------------SECTION HOW TO--------------- */
  .container {
      width: 100px auto;
      margin: 150px auto;
      margin-bottom: 0;
      position: relative;
    }

  .progressbar {
      counter-reset: step;
  }
  .progressbar li {
      list-style-type: none;
      width: 25%;
      float: left;
      font-size: 14pt;
      position: relative;
      text-align: center;

      color: #7d7d7d;
  }
  .progressbar li .blacks{
      color: black;
  }

  .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
  }
  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  .progressbar li.active {
      color: green;
  }
  .progressbar li.active:before {
      border-color: #55b776;
  }
  .progressbar li.active + li:after {
      background-color: #55b776;
  }


  /* ------------------SECTION TERHANGAT------------------- */
  .hangat{
    position: relative;
    background: linear-gradient(90deg, #FF8000, #FFEE04);
  }

  .hangat::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 155px;
    background: url(../image/rectangl.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
