@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');


* {
  margin: 0;
 }
 body{
   box-sizing: border-box;
   background: white;
   font-family: "Quicksand", sans-serif;
 }

/* -------------------NAVBAR----------------- */
  .header {
    position: fixed;
    margin-top: 1em;
    padding: 0px 8px;
    background-color: transparent;
    z-index: 99999;
    transition: all 0.7s ease 0.1s;
    /* box-shadow: 0px 13px 34px -10px rgba(0,0,0,0.41); */
  }


 li, a, button{
   font-family: "Quicksand", sans-serif;
   font-weight: 700;

   color: white;
   text-decoration: none;
 }

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 6%;

}

.logo{
  cursor: pointer;
  margin-right: auto;
  margin-left: 0em;
}

.nav__links{
  list-style: none;
}

.nav__links li{
  display: inline-block;
  padding: 0px 20px;

}


.nav__links li a::before{
  color: white;
}

.nav__links li a{
  transition: all 1s ease 0s;
}

  .nav__links li a:hover{
    color: rgba(252, 194, 3, 1);
  }

  .target{
    border-bottom: 1px solid rgba(252, 194, 3, 1);;
  }

.lain {
  font-size: 11pt;
  margin-right: 2.3em;
  margin-left: 1em;
  padding: 6px 21px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  border-color: rgba(252, 194, 3, 1);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button{
  padding: 9px 25px;
  background-color: rgba(252, 194, 3, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover, .lain:hover{
    background-color: rgba(252, 194, 3, 0.6);
}

/* --------------FIX POSITION NAVBAR SCROLL------------------ */
.content {
  padding: 13px;
}

.sticky {
  margin: 0;
  padding: 0px 8px;
  background-color: #24252A;
  z-index: 99999;
  position: fixed;
  top: 0;
  background-color: #24252A;
  box-shadow: 0px 13px 34px -10px rgba(0,0,0,0.41);
}

.sticky + .content {
  padding-top: 700px;
}


/* ------------------HOME----------------------- */


  h1{
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 30pt;
    color: black;
    text-align: center;
    padding-top: 2em;
  }

  .notop{
    padding-top: 0;
  }
  h2{
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 25pt;
    color: black;
    text-align: center;
    padding-top: 0.4em;
  }

section{
  width: 100%;
  min-height: 552px;
}

.home{
  position: relative;
  background: linear-gradient(90deg, #FF8000, #FFEE04);
}

.home-box{
  padding-top: 2em; 
  position: relative;
}

.lapor{
  margin-top: 3em;
  width: 20%;
  position: relative;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);

}

.tambah{
  background-color: black;
  font-size: 14pt;
  box-shadow: 4px 4px 5px 2px rgba(0,0,0,.2);
}

.tambah:hover{
  background-color: black;
  color: rgba(252, 194, 3, 1);
}

.home::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 155px;
  background: url(../image/rectangl.png);
  background-size: cover;
  background-repeat: no-repeat;

}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid white;
  border-right: none;
  padding: 5px 5px 5px 12px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  color: black;
  outline: none;
  font-size: 16pt;
}

.searchTerm:focus{
  color: black;
  font-size: 16pt;
}

.searchButton {
  width: 60px;
  height: 52px;
  padding: 6px;
  border-left: 2px solid #bdbdbd;
  background: white;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;

}

/*Resize the wrap to see the search bar change!*/
.wrap{
  margin-top: 4em;
  width: 60%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer{
  font-family: 'Libre Franklin', sans-serif;
  background-color: rgb(107, 5, 5);
  color: white;
}

/* -------------SECTION HOW TO--------------- */
  .containers {
      width: 100px auto;
      margin: 150px auto;
      margin-bottom: 0;
      position: relative;
    }

.container {
  width: 900px;
  height: 250px;
  position: relative;
  top: 0;
  left: 15;
  right: 15;
  bottom: 0;
  margin: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 20px;
}

.items {
  border-radius: 5px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;
  cursor: pointer;
  transition: all 0.6s;
}

.icon-wrapper, .project-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper i {
  font-size: 100px;
  color: #ffa203;
  transform: translateY(0px);
  transition: all 0.6s;
}

.icon-wrapper {
  align-self: end;
}

.project-name {
  align-self: start;
}

.project-name p {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
  transform: translateY(0px);
  transition: all 0.5s;
}

.items:hover {
  border-radius: 13px;
  -webkit-box-shadow: 0px 0px 31px -8px rgba(71,71,71,1);
  -moz-box-shadow: 0px 0px 31px -8px rgba(71,71,71,1);
  box-shadow: 0px 0px 31px -8px rgba(71,71,71,1);
}
.items:hover .project-name p {
  transform: translateY(-10px);
}
.items:hover .icon-wrapper i {
  transform: translateY(5px);
}

.tambah2{
  padding: auto;
  position: relative;
  color: #FF8000;
  background-color: white;
  border: 2px solid  #FF8000;
  font-size: 16pt;

}

.tambah2:hover{
  background-color: #FF8000;
  color:white;
}


  /* ------------------SECTION TERHANGAT------------------- */
  .hangat{
    height: 700px;
    position: relative;
    background: linear-gradient(90deg, #FF8000, #FFEE04);
  }

  .hangat-box{
    top: 10em;
    display: block;
    margin: auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px 0px;
    padding: 30px;
    background: rgb(255, 255, 255);
    width: 70%;
    height: 65%;
  }

  .hangat::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 155px;
    background: url(../image/rectangl.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .box{
    color: black;
    padding-left: 15px;
    margin-top: 30px;
    width: auto;
    height: 400px;
    overflow: auto;
    
  }

.box-post{
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid black;
}

.box-post .title{
  font-weight: 500;
  color: black;
  font-size: 18px;
  padding-right: 70px;
}
.box-post .title a{
  font-weight: 700;
  color: black;
  font-size: 20px;
}

.box-post .isi p{
  line-height: 2.214;
  color: #4a4a4a;
}

/* ------------------Buat Laporan----------------------- */
.form-lapor{
  margin-top: -400px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px 0px;
  margin-bottom: 30px;
  padding: 30px;
  background: rgb(255, 255, 255);
}

.form-lapor-isi {
  margin: -30px -30px 15px;
}

.form-lapor-isi textarea {
  font-family: "Quicksand", sans-serif;
  border: none;
  width: 93%;
  padding: 30px;
  font-size: 24px;
}

.lapor-submit {
  margin-top: 4em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  position: relative;
  display: flex;
}

.lapor-button {
  font-weight: 700;

  color: white;
  text-decoration: none;
  padding: 9px 47%;
  background-color: rgba(252, 194, 3);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.lapor-button:hover{
  background-color: rgba(0, 0, 0,0.8);
}
/* ============================= LOGIN DAM REGISTER====================== */

.login {
  background-color: #ececec;

}

.login h1 {
  padding-top: 4em;
  font-size: 28pt;
  background-color: white;
  color: #FF8000;
  width: auto;
  text-align: center;
}

.form-login{
  padding-top: 0.5em;
  background-color: white;
}

 .inputLogin {
  display: block;
  margin: 1em auto;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 5px 5px 12px;
  height: 50px;
  width: 25%;
  outline: none;
  font-family: "Quicksand", sans-serif;
  font-size: 16pt;
  font-weight: bold;
  background-color:#cccccc;
  color: black;
}

.submitButton{
  display: block;
  margin: 2em auto 0em;
  border-radius: 5px;
  padding: 5px 5px 5px 12px;
  height: 50px;
  width: 26.5%;
  outline: none;
  font-family: "Quicksand", sans-serif;
  font-size: 16pt;
  font-weight: bold;
  background-color:#FF8000;
  color: white;
}

.submitButton:hover{
  background-color:rgb(194, 99, 4);
}

.form-login a{
  display: block;
  margin: auto;
  border-radius: 5px;
  padding: 9px 158px 5px 5px;
  font-weight: 400;
  outline: none;
  text-align: center;
  color: rgb(255, 128, 0);
}

.invalid-feedback{
  display: block;
  margin: 0em auto;
  border-radius: 5px;
  padding: 0px 15px 5px 5px;
  font-weight: 400;
  outline: none;
  text-align: center;
  color: red;
}

 .isinvalid{
  display: block;
  margin: 1em auto;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px 5px 5px 12px;
  height: 50px;
  width: 25%;
  outline: none;
  font-family: "Quicksand", sans-serif;
  font-size: 16pt;
  font-weight: bold;
  background-color:#cccccc;
  color: black;
 }

 /* ==================================== PROFILE ============================ */

 .pr-back{
  position: relative;
  background: linear-gradient(90deg, #FF8000, #FFEE04);
  min-height: 450px;
}

.pr-back::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 155px;
  background: white;
  background-size: cover;
  background-repeat: no-repeat;

}

.avatar{
  position: relative;
  padding-top: 4em;
  padding-left: 6em;
  z-index: 99;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  
}

.pr-back h1 {
  font-family: "Quicksand", sans-serif;
  position: relative;
  width: 50%;
  display: block;
  font-weight: 700;
  font-size: 24pt;
  color: black;
  text-align: left;
  top: 4.4em;
  margin-left: 8.3em;
}

.ubah{
  font-size: 15pt;
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  border-color:black;
  padding: 6px 21px;
  border-radius: 5px; 
  background-color: transparent;
  color: #24252A;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.ubah:hover{
  background-color: rgba(0, 0, 0, 0.8);
  color: aliceblue;
}

.ubahs{
  float: right;
  position: relative;
  display: block;
  top: -7em;
  margin-right: 7em;
}

.user-box{
  /* top: 10em; */
  display: block;
  margin: 2em auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px 0px;
  padding: 30px;
  background: rgb(255, 255, 255);
  width: 70%;
  height: 65%;
  float: left;
}
.boxs{
  color: black;
  padding-left: 15px;
  margin-top: 30px;
  width: auto;
  height: 200px;
  overflow: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  
}

.container h1{
  height: 50px;
  margin: 0em;
  size: 50%;
}

.boxs p{
  font-family: "Quicksand", sans-serif;
  text-align: left;
  font-size: 19pt;
  font-weight: regular;
  letter-spacing: 2px;
  color: black;
  transform: translateY(0px);
  transition: all 0.5s;
}

.boxs .isi{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
 